.f3.f3-cont {
    background-color: #F5F5F5 !important;
    border: 2px solid #180d0d !important;
    padding: 1px;

    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;

    --female-color: #be82bf !important;
    --male-color: #51a5c4 !important;
    --genderless-color: #d3d3d3 !important;
    --background-color: #fff !important;
    --text-color: #f4ecec !important;
}

/* Override card styles */
.f3 .f3-card {
    background-color: #9c09b9 !important;
    border: 1px solid #333 !important;
    color: #333 !important;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* Change text color */
.f3 .f3-card .f3-text {
    color: #2a2a2a !important;
    font-weight: bold;
}

/* Example: highlight selected person */
.f3 .f3-card.selected {
    background-color: #cce5ff !important;
    border-color: #3399ff !important;

}

.f3 div.card-image-circle div.card-label {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 50%);
    max-width: 100%;
    min-height: 22px;
    text-align: right;
    background-color: rgba(231, 222, 222, 0);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 3px;
    padding: 0 1px;
}

.f3 div.card-image-rect {
    display: revert-layer;
    border-radius: 7px;
    text-align: center;
}

.f3 div.card-image-rect div.card-label {
    height: 100%;
    overflow: hidden;
    display: contents;
    flex-direction: column;
    justify-content: center;
}

.f3 div.card {
    cursor: pointer;
    color: var(--text-color);
    position: relative;
    line-height: 1.13;
}

.f3 .card-inner.card-image-rect img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.f3 {
    --text-color: black
}


.rip-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 25px solid black;
    border-left: 25px solid transparent;
    z-index: 10;
}

.f3 .link {
    stroke: black;
    stroke-width: 1px;
}

.f3 .link.f3-path-to-main {
    stroke-width: 5px;
    stroke:  black;
}

.f3 div.card:hover .card-inner {
    outline: 6px solid #e31102;
}

.f3 div.card-inner.f3-path-to-main {
    outline: 6px solid #e31102;
}

.f3 .f3-card-duplicate-tag {
    position: absolute;
    top: 2px;
    right: 2px;
    color: black;
    background-color: #F5F5F5;
    border-radius: 50%;
    padding: 2px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.f3 .f3-card-duplicate-hover .f3-card-duplicate-tag {
    background-color: #e31102;
    color: rgb(5, 22, 1);
}

.f3 .f3-card-duplicate-hover div.card-inner {
    outline: 6px solid #cc0404;
}


.f3 .card-inner.card-image-rect {
    border-radius: 12px;
    box-shadow: -5px 5px 18px 0px rgba(22, 20, 41, 0.97), inset 0 0 4px rgba(255, 255, 255, 0.3);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }