#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}



:root {
  --female-color: #ffb6c1 !important;
  --male-color: #add8e6 !important;
  --genderless-color: #d3d3d3 !important;
  --background-color: #fff !important;
  --text-color: #000 !important;

}

div.card-label {
  background-color: hsla(268, 79%, 32%, 0.96);
}